@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-900 text-white antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #2f2f37;
  border-radius: 999px;
}
